@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../assets/fonts/Montserrat-Medium.ttf');
  font-weight: normal;
}


@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: normal;
}


@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* --text: radial-gradient(circle at 10% 20%, rgba(226, 247, 238, 0.445) 0.1%, rgba(238, 224, 224, 0.349) 90.1%); */
  --bg-gray-light: #f2f2f2;
  --bg-green-blue: #52f0d5de;
  --bg-green-blue-dark: #48e0c7de;
  --bg-gray-shadow: rgba(9, 9, 9, 0.23);
  --bg-dark-light: rgb(56, 52, 52);
  --bg-white: #fff;
  --bg-dark: #000;
  --btn-color: #111827; 
  --btn-color-outlined: #e5e7eb;
  --btn-shadow-green-1: rgba(79,209,197,.64);
  --btn-shadow-green-2: rgba(0,255,203,.64);
  --bg-underline: #CAC9C7;
  --bg-awesome-color: radial-gradient(circle at 10% 20%, rgba(201, 245, 226, 0.445) 0.1%, rgba(179, 170, 170, 0.349) 90.1%);
}

html {
  font-family: 'Montserrat-Medium';
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);

}

h1{
  font-size: 48px;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 16px;
}
h5{
  font-size: 8px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat-SemiBold';
}

.container{
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  position: relative;
  min-height: 600px;
}

/*====================================== NavBar =========================== */

.nav-link{
  font-family: Montserrat-SemiBold;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  margin-right: 30px;
  padding: 7px;
}

.nav-link:hover{
  border-radius: 40px;
  background-color: #02AABD;
  border-bottom: none;
}

.nav-link-mobile{
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.nav-link-mobile:hover{
  /* text-decoration: underline 3px #02AABD; */
  border-bottom: 3px solid #02AABD;
}

.active{
  border-radius: 2px;
  border-bottom: 3px solid #098896;
  transition: border-bottom .2s ease-in-out;
  -webkit-transition: border-bottom .2s ease-in-out;
  -moz-transition: border-bottom .2s ease-in-out;
  -ms-transition: border-bottom .2s ease-in-out;
}

/*====================================== Independent Components =========================== */

/* ======= Button Component ======== */

.button-component{
  
  border: none;
  border-radius: 1000px;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  padding: 15px;
  font-size: 18px;
  min-width: 200px;
  min-height: 30px;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
}

.button-component::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(50px + 10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }

  
  .button-component:hover::before, .button-component:focus::before {
    opacity: 1;
  }
  

  /*========= New Section Lines & Title =========*/

  .new-section-hr h1{
    text-align: center;
  }

  .small-underline {
      width: 9rem;
      height: .1rem;
      margin: 1rem auto 1rem auto;
      background-color: var(--bg-green-blue-dark);
      box-shadow: 2px 2px 8px var(--btn-shadow-green-1);
  }

  .big-underline {
      width: 20rem;
      height: .1rem;
      margin: auto;
      background-color: var(--bg-green-blue-dark);
      box-shadow: 2px 2px 8px var(--btn-shadow-green-1);
  }

  /*============ Card ============*/

.edit-card{
  margin-top: 2rem;
}

.blog-card {
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.288);
  margin-bottom: 1rem;
  background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.445) 0.1%, rgba(233, 226, 226, 0.349) 90.1%);
  line-height: 1.4;
  font-family: Montserrat-Regular;
  
  word-wrap: break-word;
  
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.1) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .description {
  padding: 1rem;
  /* background: #fff; */
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 16px;
}
.blog-card .description h2 {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #8f8c8c;
  margin-top: 5px;
}
.blog-card .description .read-more {
  display: inline;
  float: right;
  margin-right: 1rem;
}
.blog-card .description .read-more a {
  text-align: right;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.288);

  color: var(--bg-green-blue-dark);
  font-family: Montserrat-Regular;
  font-weight: bold;
  display: inline-block;
  position: relative;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
  font-size: 15px;
}

/* Hr Line */
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: var(--bg-green-blue-dark);
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

@media only screen and (max-width: 725px) {
  .blog-card p {
    font-size: 13px;
  }
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 25%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 75%;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
}



/* ===================================== HERO section ===================================== */

.hero{
  margin-top: 10rem;
}

.hero-up {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hero-header{
  flex-wrap: wrap;
}


.text-animation{
  font-size: 24px;
  word-wrap: break-word;  
}

.hero-btn{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.avatar{
  border: 4px solid var(--bg-dark-light);
}


.social-hero{
  margin-top: 2.2rem;  
}

.social-hero{
  margin-top: 2.2rem;  
}

/* .social-hero .effect a{
  width: 20px;  
} */
/*========  Socials =======*/

.effect .social-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 80px;
}

.effect a {
  text-decoration: none !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  font-size: 28px;
  overflow: hidden;
  position: relative;
  color: #212121;
  /* border: 1px solid #212121; */
}


.effect.amiens a:hover .social-icon {
  transform: scale(1.2);
  text-shadow: 4px 0px 3px rgba(33, 33, 33, 0.3);
  transition: all 0.2s linear 0.2s;
}





/* ===================================== ABOUT section ===================================== */

.about-section{
  margin-top: 2rem;
  padding: 2rem;
  
  /* background-color: yellow; */

  display: flex !important;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 3rem;
}

.about-left{
  flex: 1;
  /* background-color: red; */
  font-family: 'Montserrat-Regular';
  letter-spacing: .2px;
  word-wrap: break-word;
  padding: 1rem;
}

.about-right{
  flex: 1;
  /* background-color: green; */
  word-wrap: break-word;
  padding: 1rem;
}

.about-hr{
  width: 100%;
  height: .1rem;
  background-color: var(--btn-color);
  box-shadow: 5px 5px 8px var(--btn-shadow-green-1);
}

.about-text-info {
  margin-top: 2rem;
}

.about-text-info strong{
  font-family: 'Montserrat-Medium';
}

.btn-download-cv {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

/*======Resume=======*/


.resume-cls{
  margin-top: 5rem;
  width: 100%;
}

.pdf-container{
  margin-top: 5rem;
  width: 100%;
  height: 800px;
  background-color: #e4e4e4;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 8px var(--btn-shadow-green-1);
}

.error-msg{
  width: 100%;
  color: red;
  font-size: 14px;
  font-weight: 600;
}




/* ===================================== Skills & Tools section ===================================== */

.skills-tools-section{
  margin-top: 4rem;
}

.skills-tools{
  margin-top: 2rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-description {
  max-width: 800px;
  word-wrap: break-word;
  font-family: 'Montserrat-Regular';
}

.skills-technical {
  background: var(--bg-awesome-color);
  margin-top: 3rem;
  text-align: center;
  padding: 3rem;
}

.skills-technical h2,p{
  margin-top: 1rem;
}

.skills-technical p{
  font-family: 'Montserrat-Regular';
}

.skills-technical-middle{
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-icons{
  margin: 2rem;
}


.technical-bottom-list{
  margin-top: 1rem;
}

.current-work-text{
  margin-top: 2rem;
  max-width: 800px;
  word-wrap: break-word;
  font-family: Montserrat-Medium;
}

/* ===================================== Project section ===================================== */

.projects-section{
  margin-top: 4rem;
}

.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem 3rem 3rem;
}

.projects .projects-description{
  margin-top: 2rem;
}

.projects .projects-description  a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.project-cards {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.project-cards a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}


/* ===================================== Footer section ===================================== */

.footer{
  margin: 0 auto;
  max-width: 100%;
  width: 67%;
  position: relative;
  padding: 1rem;
}

.footer-container{
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-context{
  margin-top: 5rem;
}

.footer-context hr{
  height: 5px;
  background: var(--bg-green-blue-dark);
  width: 100%;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 6px var(--btn-shadow-green-1);
}

.footer-left{
  text-align: left;
  flex: 1;
}

.footer-right{
  flex: 1;
}


/* ===================================== Media section ===================================== */

@media only screen and (max-width: 1355px) {
  

  .about-section{
    flex-direction: column;
  }

  .about-right{
    flex: 1;
    width: 100%;
  }

  .media-list-icon{
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 1025px) {

  h1{
    font-size: 32px;
  }

  h2{
    font-size: 20px;
  }

  p{
    font-size: 13px;
  }

  .skills-tools-section{
    margin-top: 4rem;
  }

  .projects{
    padding: 1rem;
  }

}

@media only screen and (max-width: 935px) {
  .about-section{
    flex-direction: column;
  }
  .media-list-icon{
    font-size: 1.2rem !important;
  }
  .footer{
    width: 100%;
  }
  .footer-container{
    flex-direction: column-reverse;
    gap: 3rem;
    flex: 1;
  }

}

@media only screen and (max-width: 840px) {
  .hero-up{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }

  .hero-right .effect a{
      width: 25px;
      margin-right: 10px;
    }

    .about{
     margin-top: 8rem;
    }
}

@media only screen and (max-width: 725px) {

    h1{
      font-size: 28px;
    }

    h2{
      font-size: 20px;
    }

    h3{
      font-size: 18px;
    }


    .hero-up{
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 3rem;
      
    }

    /* .text-animation {
      max-width: 400px;
    } */

    .hero-left,
    .hero-right{
      flex: 1;
    }

    .hero-left{
      width: 82%;
    }


    .hero-right .effect a{
      width: 25px;
      font-size: 21px;
      margin-right: 0;
    }
    .hero-btn{
      flex-direction: column;
      flex-grow: 1;
    }

    .button-component::before {
      content: none;
    }
  
    
    .button-component:hover::before, .button-component:focus::before {
      opacity: 1;
    }
    
    .about{
      margin-top: 4rem;
    }

    .about-section{
      flex-direction: column;
    }

    .btn-download-cv {
      flex-direction: column;
      flex-grow: 1;
    }

    .skills-tools-section{
      margin-top: 1rem;
    }

    .skills-tools{
      padding: 1rem;
    }

    .skills-technical-middle{
      margin: 2rem 0 0 0 ;
    }
    .skills-icons{
      margin: 1rem;
    }

    .media-icon{
      font-size: 40px !important; /* skip previous rules and use that*/
    }

    .media-list-icon{
      font-size: 0.8rem !important;
    }
}

@media only screen and (max-width: 650px) {
  .hero-left{
      width: 78%;
    }

    .pdf-container{
      height: 500px;
    }

}

@media only screen and (max-width: 470px) {
  .hero-left{
      width: 75%;
    }


  .skills-technical-middle{
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 400px;
    margin-top: 2rem;
    justify-content: space-around;
  }

}

@media only screen and (max-width: 375px) {
  .skills-technical-middle{
    max-height: 100%;
  }

  .effect a {
    font-size: 20px;
    width: 30px;
    height:30px;
  }
}
